
:root {
    --primary-color: #006DAA;
    --secondary-color: #AFC1D6;
    --accent-color1: #003559;
    --accent-color2: #B3679B;
}

h1 {
    font-family: "Fugaz One", serif;
    color: var(--accent-color1);
    font-size: 3rem;
    background-color: var(--primary-color);
    text-align: center;
    display: inline-block;
    left: 30%;
    top: 10%; 
    color: white;   
} 

h2 {
    font-family: "Fugaz One", serif;
    color: var(--accent-color1);
}

p {
    font-family: "Roboto", serif;
    color: var(--accent-color1);
    font-weight: 400;
}
 
article p {
    color: white;
}

.socials a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;   
}

.hero article {
    display: block;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    gap: 5%;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    
}

.hero img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.hero article img {
    margin: 10px;
    float: right;
    width: 250px;
    height: auto;
}
    
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 2px;
    background-color: var(--primary-color);
    top: 0;
    margin: 1rem auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: rgb(2, 2, 49); /* Unchanged */
    text-decoration: none;
    padding: 1rem;
    border: 2px;
    border-radius: 10px;
    margin: 0 6px;
}

header img {
    margin: 1rem;
    padding: 1px;
    
}
    
.history {
    display: flex;
    border: 2px;
    padding: 1px;  
    gap: 50px;  
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.heading {
    align-items: flex-start;
    justify-content: center;
}

.heading h2 {
    text-align: center;
}

.history img {
    width: 300px;
    height: auto;
    padding-bottom: 15px;
    
}


.adventure {
    padding: 10px;
}

.adventure h2 {
    text-align: center;
    padding: 10px;
}

.picture {
    display: flex;
}

figure img {
    width: 170px;
    height: auto;     
}

figcaption {
    text-align: center;
}


footer {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-around;

}

footer p {
    text-align: center;
    align-content: center;
}

.info {
    text-align: center;
}

.info iframe {
    width: 100%;
    background-color:#AFC1D6;
}

.team-container {
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
    border: 10px;
}

.team h2 {
    text-align: center;
    
}

.company {
    text-align: left;
}


.team img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    background-color: #AFC1D6;
    padding: 60px 60px 60px 60px;
}

.team img:hover {
    background-color: #eee;
}

form {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    border-radius: 1rem;
  }

  button {
    margin: 1rem;
    background-color: #006DAA;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: #B3679B;
  }

  label {
    text-align: right;
    padding-right: 1rem;
  }

  input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  .form-item .column2 {
    grid-template-columns: 1fr 2fr;
  }






