* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 10px;
    --color: darkblue;
    --height: auto;
}

nav {
    background-color: var(--color);
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color);
}
img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
    max-width: 830px;
}

aside {
    position: relative;
    width: 20rem;
    border: 1px solid rgb(0,0,0,.2);
}

aside img {
    width: 400px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    color: yellowgreen;
}

main img {
    width: 200px;
    height: var(--height);
    float: right;
}

p {padding: 0;}

footer {
    margin-top: 10px;
    border-top: 1px solid #333;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}