:root {
    --padding: 10px;
    --color: darkblue;
    --height: auto;
}

nav {
    background-color: var(--color);
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color);
}
img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
    max-width: 830px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0,0,0,.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height: var(--height);
}

main img {
    width: 400px;
    height: var(--height);
}

p {padding: 0;}

footer {
    margin-top: 10px;
    border-top: 1px solid #333;
    text-align: center;
}